{% extends "layout.html" %}
{% block content %}
        {% for recipe in recipes %}
            <div class="media content-section">
              <div class="media-body">

                  <h4 class="article-title">{{ recipe.recipe_name}}</h4>
                  <h4><a class="article-title" href="{{ recipe.recipe_webpage }}">Click for recipe</a></h4>
                  <h4><img class="article-title" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_webpage }} Photo"></h4>

              </div>
            </div>
        {% endfor %}

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ recipes[0].recipe_image}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ recipes[0].recipe_name }}</h5>
                    <p><a class="article-title" href="{{ recipes[0].recipe_webpage }}">Click for recipe</a></h4></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{recipes[1].recipe_image}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ recipes[1].recipe_name }}</h5>
                    <p><a class="article-title" href="{{ recipes[1].recipe_webpage }}">Click for recipe</a></h4></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{recipes[2].recipe_image}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ recipes[2].recipe_name }}</h5>
                    <p><a class="article-title" href="{{ recipes[2].recipe_webpage }}">Click for recipe</a></h4></p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>

            </div>
{% endblock content %}
